
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body, html {
      height: 100%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .slideshow-container {
      position: relative;
      height: 100vh;
      width: 100%;
    }

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      background-color: black;
    }

    .slide.active {
      opacity: 1;
      z-index: 1;
    }

    /* Image overlay (dark tint) */
    .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Change color/opacity here */
      z-index: 2;
    }

    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      z-index: 2;
      width: 80%;
    }

    .overlay p {
      text-transform: uppercase;
      font-size: 1rem;
      margin-bottom: 1rem;
      letter-spacing: 1px;
    }

    .overlay h1 {
      font-size: 5rem;
      font-weight: 500;
      line-height: 1.5em;
      margin:0;
    }

    .overlay h6 {
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 2.2rem;
      text-transform: capitalize;
      margin:0
    }


    /* google fonts */
    .parisienne-regular {
      font-family: "Parisienne", cursive;
      font-weight: 400;
      font-style: normal;
    }
    .bebas-neue-regular {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    .noto-serif-jp-200 {
      font-family: "Noto Serif JP", serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
    }
    .noto-serif-jp-300 {
      font-family: "Noto Serif JP", serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }
    .noto-serif-jp-400 {
      font-family: "Noto Serif JP", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
    .noto-serif-jp-500 {
      font-family: "Noto Serif JP", serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
    }

    .btn-rsvp {
      letter-spacing:.7rem;
    }


.gallery-wrapper {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.gallery {
  display: flex;
  animation: scroll 30s linear infinite;
}

.gallery img {
  width: auto;
  height: 200px;
  object-fit: cover;
}

/* Animation to move gallery */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
